## --- standaard .NET / build output ---
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
artifacts/

# Visual Studio / Rider / VS Code
.idea/
.vscode/
*.user
*.suo
*.userprefs
*.csproj.user

# NuGet Packages
*.nupkg
*.snupkg
packages/
*.lock.json
project.lock.json
project.fragment.lock.json

# Test results & coverage
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
CodeCoverage/
*.coverage
*.coveragexml
nunit-*.xml
*.VisualState.xml
TestResult.xml

# MSBuild Binary and Structured Log
*.binlog

# Temp files
~$*
*~

# Publish output
publish/
wwwroot/lib/
dist/
node_modules/

## --- gevoelig / privé ---
# API keys / secrets
*.key
*.pem
*.pfx
*.crt
*.env
.env

# Specifieke keys map
Keys/
Keypairs
transip-api.key
Keypairs/
MKeypairs/


# Config met secrets
appsettings.Development.json
appsettings.Local.json
appsettings.*.secret.json

# Rider / Resharper caches
.ReSharper*/
*.DotSettings.user

# OS files
.DS_Store
Thumbs.db
desktop.ini
